*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    text-align: center;
}
body{
    background-image:linear-gradient(0,rgb(243, 245, 112),rgb(197, 112, 112))
}
#sketch{
    width:1000px;
    height:500px;
    border:unset;
    display:flex;
    flex-wrap:wrap;
    margin:1rem auto;
    background-color:white;
}
.squareDivBorder{
    border:1px solid black;
}
.squareDiv:hover{
    background-color:lightGrey;
    
}
input.brush{
    width:30px;
    height:20px;
}


li button{
    display:flex;
    align-items:center;
    cursor:pointer;
}
li button span{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:10px;
    vertical-align:center;
    margin-right:5px;
}
.netMode{

}
#colorBrush,#modeSketch{
    display:flex;
    gap:1rem;
    margin-left:10px;
}
#colorBrush li,#modeSketch li{
    list-style:none;

}
#colorBrush li button,#modeSketch li button,#clear{
    font-size:1rem;
    padding:0.2rem;
}
#clear{
    margin-right:1rem;
    cursor:pointer;

}